@charset "UTF-8";

/* Estilo para telas */

*{
    margin: 0px;
    padding: 0px;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
header{
    background-color: lightgreen;
}
header h1{
    text-align: center;
}
menu ul{
    list-style-type: none;
    background-color:rgba(67, 150, 67, 0.418) ;
}
menu li{
    background-color: rgba(70, 114, 70, 0.822);
    color: white;
    display: inline-block;
    padding: 13px;
}
article{
    display: block;
    width: 600px;
    margin: auto;
}