@charset 'UTF-8';

/*
 Tudo que em HTML é id em Css é # (só pode com um elemento)
 Tudo em HTML é class em Css é . (pode com mais de um elemento)
*/

body{
    background-color: rgba(19, 36, 82, 0.524);
}
h1{
    color: rgba(0, 0, 0, 0.627);
}
h1#principal {
    text-align:center;
    background-color: rgba(6, 42, 14, 0.463);
    color: white;
   
    
}


h2{
    color: white;
}
.basico{
    color: green;
}
.Intermediário{
     color: rgb(128, 94, 0);
}
.Avançado{
     color: rgb(128, 0, 0);
}