@charset "UTF-8";
body{
    color:darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: gold;
   background-color: brown;

}
h2{ 
    color: darkgreen;
    
}
p{
    text-align: justify;
}